layout_secrets() {
    # Decrypt the encrypted file and load the environment variables
    eval "$(gpg --decrypt file_with_secrets.env.gpg | sed 's/^/export /')"
}

# Add the layout hook to the `direnv` configuration
layout secrets layout_secrets


export MYVAR1=42
use flake .
